@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Crete+Round&family=Poppins:wght@300&family=Quicksand&family=Slabo+27px&display=swap");
:root {
  --white: #ffffff;
  --tan-1: #fbf9f6dc;
  --tan-2: #e7e2dd;
  --tan-3: #e2d9d1;
  --tan-4: #f6e8d4ec;
  --orange: #c27018d2;
  --text-light: #796f68;
  --text-dark: #61595490;
  --background: #191d24;
  --chalk-yellow: rgb(255, 166, 0);
}
html {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* border: 1px solid rgba(128, 128, 128, 0.396); */
}
.App {
  font-family: "Crete Round", serif;
  max-width: 700px;
}
body {
  background: linear-gradient(150deg, #191d24 20%, #0a3e98fd 120%, #191d24);
  background-color: #191d24;
  color: white;
  padding: 6%;
  padding-top: 4%;
  padding-bottom: 15vmin;
  font-family: Arial;
  text-align: left;
}
h3 {
  margin: 45px 0;
  font-size: 35px;
}
h3.about {
  margin: 45px 0;
  font-size: 28px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(112, 134, 200, 0.5);
}
h5 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(112, 134, 200, 0.5);
}
.error {
  font-size: 30px;
  color: var(--chalk-yellow);
}

.red {
  color: red
}

#root {
  height: 80%;
}

form {
  background-color: var(--);
  border-radius: 1%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

.form-container:hover {
  margin-top: 25px;
  transition: 0.2s ease-in-out;
  max-width: 800px;
  padding: 3vmin;
  background-color: var(--tan-1);
  border: 0.4vmin solid rgba(255, 255, 255, 0.846);
  border-radius: 3vmin;
  color: var(--tan-1);
  -webkit-box-shadow: -2px -2px 44px 2px rgba(0, 34, 255, 1);
  -moz-box-shadow: -2px -2px 44px 2px rgba(0, 34, 255, 1);
  box-shadow: -2px -2px 30px 8px rgba(34, 86, 255, 0.406);
}

.form-container:not(:hover) {
  margin-top: 25px;
  transition: 0.2s ease-in-out;
  max-width: 800px;
  padding: 3vmin;
  background-color: var(--tan-1);
  border: 0.4vmin solid rgba(81, 74, 65, 0.886);
  border-radius: 3vmin;
  -webkit-box-shadow: -2px -2px 44px 2px rgba(187, 126, 20, 1);
  -moz-box-shadow: -2px -2px 44px 2px rgba(187, 126, 20, 1);
  box-shadow: -2px -2px 22px 2px rgba(179, 155, 89, 0.726);
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

label {
  color: rgb(49, 48, 37);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
}
.check-box {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

input {
  transition: 0.6s;
  margin: 0;
  padding: 1vmin;
  font-size: 0.68rem;
  border: 0.15vmin solid rgba(205, 136, 39, 0.236);
  border-radius: 0.5vmin;
  color: var(--background);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}
.days-of-week {
  height: 110px;
}
input:hover,
textarea:hover,
.days-of-week:hover,
option:hover {
  transition: 0.1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.956);
  border-color: rgba(52, 107, 203, 0.799);
  border: 1.5px solid rgb(9, 9, 172);
  box-shadow: 1px 1px 5px 0.1em rgb(165, 164, 164);
}

button {
  max-width: 150px;
  margin: 1.5vmin;
  padding: 0.8vmin;
  color: var(--white);
  background-color: rgb(71, 92, 141);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 2px solid var(--tan-2);
  border-radius: 0.8vmin;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  color: lightgray;
  background-color: grey;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin;
}

button:hover {
  font-weight: bold;
  color: rgb(108, 72, 10);
  background-color: var(--chalk-yellow);
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.create-and-edit-button {
  box-shadow: 0.07em 0.13em 2px 1px rgb(125, 125, 125);
}

.create-and-edit-button:hover {
  transform: skewX(50) duration timing-function delay iteration-count direction
    fill-mode;
  transition: 0.2s ease-in-out;
  scale: 1.05;
  box-shadow: 4px 5px 8px 1px rgba(125, 125, 125, 1);
}
a:visited {
  color: inherit;
}
a {
  font-size: 24px;
  color: var(--tan-4);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: rgb(255, 166, 0);
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}

.react-datepicker {
  max-width: 415px;
  height: 370px;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__month {
  display: relative;
  margin: 0.4em;
  text-align: center;
  max-height: 40vh;
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 2.5em;
  line-height: 2.5em;
}

.react-datepicker__day-name {
  color: rgba(122, 73, 21, 0.801);
  font-size: 17px;
}

.react-datepicker {
  background-color: rgba(30, 29, 27, 0.5);
}

.react-datepicker__week {
  color: rgba(255, 132, 0, 0.402);
}

.react-datepicker__day {
  margin: 0 0.25em;
  color: white;
  border: 1px solid white;
  border-radius: 35%;
}

.react-datepicker__day:hover {
  color: rgba(105, 55, 15, 0.71);
  border-radius: 50%;
}

.react-datepicker__day--selected {
  background-color: var(--chalk-yellow);
  border: 1px solid var(--chalk-yellow);
  color: rgba(37, 20, 3, 0.481);
  font-size: 16px;
  border-radius: 50%;
}

.react-datepicker__day--selected:hover {
  background-color: rgb(255, 166, 0);
  color: rgb(253, 253, 253);
  font-size: 16px;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: none;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: white;
  color: rgba(122, 73, 21, 0.801);
  font-size: 16px;
  border-radius: none;
}

.logout-user,
.loading {
  color: var(--chalk-yellow);
}

.nav {
  display: inline-block;
}
.inline-block {
  display: inline-block;
}

a.joel {
  color: rgb(28, 100, 255);
  text-decoration: none;
}

a.joel:hover {
  color: rgb(216, 154, 20);
  text-decoration: underline;
}

.crete-round {
  font-family: "Crete Round", serif;
}

p.description-display {
  font-size: 80%;
}

.description-display {
  white-space: pre-wrap;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(112, 134, 200, 0.5);
}

span.logout {
  display: inline-block;
}

.list-link {
  display: relative;
  width: 200px;
}

/* Email form CSS */

.jTusZG form input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.jTusZG form label {
  margin-top: 1rem;
  color: white;
}
.jTusZG form label:hover {
  margin-top: 1rem;
  color: white;
}

.jTusZG form input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: var(--text-dark);
  color: white;
}
.jTusZG form input[type="submit"]:hover {
  margin-top: 2rem;
  cursor: pointer;
  background: var(--text-dark);
  color: white;
}

.email-label {
  color: rgba(255, 255, 255, 0.849);
}

.react-datepicker__month-option {
  line-height: 20px;
  border: 1px solid rgb(162, 125, 80);
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__header__dropdown {
  margin-top: 4px;
  margin-bottom: -8px;
}
@media screen and (max-width: 835px) {
  input {
    font-size: 0.7rem;
  }
  input {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  * {
    font-size: 96%;
  }
  h1 {
    font-size: 22px;
    margin-top: 35px;
  }
  h3 {
    margin-top: 35px;
    font-size: 20px;
  }
  a.nav-link {
    font-size: 16px;
  }
}
